# 临时文件和缓存
.onedrive_downloader/
tmp.json
result.txt
aria2_config.json
*.bak

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Nuitka构建文件
build/
*.build/
*.dist/
*.onefile-build/
nuitka-crash-report.xml

# Python虚拟环境
venv/ 